<h2 section class="section projects-section"></h2>
                <h2 class="section-title"><i class="fa fa-university"></i>Education</h2>
              
				<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">4th year, CSE</h3>
                            <div class="time">IIT Mandi, 2014-2018</div>
                        </div><!--//upper-row-->
                        <div class="company">CGPA: 8.87/10</div>
                    </div><!--//meta-->
                    <div class="details">
                    </div><!--//details-->
                </div><!--//item-->
				<br/>

				<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Higher Secondary</h3>
                            <div class="time">2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Percentage: 91.69%</div>
                    </div><!--//meta-->
                    <div class="details">
                    </div><!--//details-->
                </div><!--//item-->
				<br/>

				<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Secondary</h3>
                            <div class="time">2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Percentage: 95.64%</div>
                    </div><!--//meta-->
                    <div class="details">
                    </div><!--//details-->
                </div><!--//item-->
				<br/>
				<br/>
                <br/>
            </section><!--//section-->
