<h2 section class="section projects-section"></h2>
                <h2 class="section-title"><i class="fa fa-university"></i>Education</h2>
                <div class="intro">
                    
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title">4th year CSE undergraduate, IIT Mandi, 2014 - 2018</span><span class="project-tagline"><p>CGPA - 8.72/10</p>
</span>
                </div><!--//item-->
 				<div class="item">
                    <span class="project-title">Higher Secondary(12th), 2014</span> - <span class="project-tagline">91.69%
</span>
                </div><!--//item-->
  				<p></p>
  				<div class="item">
                    <span class="project-title">Senior Secondary(10th), 2012</span> - <span class="project-tagline">95.64%
</span>
                </div><!--//item-->
             
            </section><!--//section-->
