
<section class="section education-section">
                <h2 class="section-title"><i class="fa fa-university"></i>Education</h2>
                <div class="intro">
                    
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank"> 4th year CSE undergraduate, IIT Mandi, 2014-2018</a></span> <span class="project-tagline"><p> CGPA(till 5th semester)-8.72 </p>
</span>
                </div><!--//item-->
 				<div class="item">
                    <span class="project-title"><a href="#" target="_blank"> Higher Secondary(class 12th)</a></span> <span class="project-tagline"><p></p>
</span>
                </div><!--//item-->
  				
  				<div class="item">
                    <span class="project-title"><a href="#" target="_blank">Data Management Systems for next-generation astronomical datasets</a></span> <span class="project-tagline"><p>Clustered MariaDb was used as the database managemnet system. Database was tested on exact search queries, range queries, index queries, etc. Indexing was done on the database to enhance query performance.</p>
<p>Technologies used: MariaDb, Galera cluster</p></span>
                </div><!--//item-->
             
            </section><!--//section-->

