<h2 class="section-title"><i class="fa fa-briefcase"></i>Work Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Intern</h3>
                            <div class="time">Jun 2017 - Aug 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Siemens Corporate Technologies Pvt. Ltd., Bangalore</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Project: </p>
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>  
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Intern</h3>
                            <div class="time">Dec 2016 - Feb 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Siemens Corporate Technologies Pvt. Ltd., Bangalore</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Project: Energy Load Forecasting using Recurrent Neural Networks</p>
                        <p>Recurrent Neural Networks are able to learn long range dependencies in the dataset. Long Short Term Memory and Gated Recurrent Unit networks were explored due to vanishing and exploding gradient problem of vanilla RNN. IBM SPSS software was used for ARIMA modelling of the energy load dataset.</p>  
                        <p>Technologies used: Python, Keras, IBM SPSS</p> 
                    </div><!--//details-->
                </div><!--//item-->
  
         
