<h2 section class="section projects-section"></h2>
                <h2 class="section-title"><i class="fa fa-university"></i>Honours & Awards</h2>
                <div class="intro">
                    
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Winner, Stock Market Analysis</h3>
                            <div class="time">Inter IIT Techmeet 2017, IIT Kanpur</div>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                </div><!--//item-->
				<br/>

                 <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Runner up, ISTP </h3>
                            <div class="time">ISTP 2017, IIT Mandi</div>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                </div><!--//item-->
				<br/>
                  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Winner, Badminton</h3>
                            <div class="time">Ranneeti 2016, IIT Mandi</div>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                </div><!--//item-->
				<br/>

