<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Hand Gesture Replication Robotic Arm</a></span> <p>Arduino controlled robotic arm to replicate the human hand. Motion sensors like accelerometers, gyro sensors and flex sensors were used to take signals from the human hand. XBee modules were used for wireless communication. Uses Prediction and Correction algorithm for precise replication. GUI using visual studio was built as an alternative to send signals to the robotic arm.</p>                                      
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Farmers Mart</a></span>  
                    <p>The portal provides facility for online purchase of groceries. Joomla was used to build the website.</p>
             
  				</div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Tempo</a></span> <span class="project-tagline">A responsive website template designed to help startups promote their products or services and to attract users &amp; investors</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Atom</a></span> - <span class="project-tagline">A comprehensive website template solution for startups/developers to market their mobile apps. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Delta</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
                </div><!--//item-->
            </section><!--//section-->
