<h2 section class="section projects-section"></h2>
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank"> Supervised Deep Learning Framework for Proactive Anomaly Detection in Cloud</a></span> <span class="project-tagline"><p>A two stage novel model was built where in 1st stage, hybrid of LSTM and BLSTM is used to predict future resource usage. In 2nd stage, LSTM classification model was build to classify expected state as normal or abnormal.</p>
<p>Technologies used: Keras, Python, Docker</p></span>
                </div><!--//item-->
 				<div class="item">
                    <span class="project-title"><a href="#" target="_blank"> On the Fly Encryptor</a></span> <span class="project-tagline"><p>Each data block is encrypted and stored on write and decrypted on read. Kernel read and write functions were modified for this purpose.</p>
</span>
                </div><!--//item-->
  				
  				<div class="item">
                    <span class="project-title"><a href="#" target="_blank">Data Management Systems for next-generation astronomical datasets</a></span> <span class="project-tagline"><p>Clustered MariaDb was used as database management system. Database was tested on exact search queries, range queries, index queries, etc.</p>
<p>Technologies used: MariaDb, Galera cluster</p></span>
                </div><!--//item-->
  
  				<div class="item">
                    <span class="project-title"><a href="#" target="_blank">Increasing Seatbelt Awareness among Himachali drivers (Socio Technical Project)</a></span> <span class="project-tagline"><p>Surveys were conducted to identify root cause of lack of seat belt awareness. Built a prototype which can track whether passengers in car are wearing seat belts. Seat belt usage data is futher sent over cloud.</p>
<p>Technologies used: IR sensors, GSM modeule, accelerometer, MySQL</p></span>
                </div><!--//item-->
   
  				<div class="item">
                    <span class="project-title"><a href="#hook">Hand Gesture Replication Robotic Arm</a></span> <p>Arduino controlled robotic arm to replicate the human hand. Motion sensors like accelerometers, gyro sensors and flex sensors were used to take signals from the human hand. Uses Prediction and Correction algorithm for precise replication.</p>                                      
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Farmers Mart</a></span>  
                    <p>Portal provides facility for online purchase of groceries. Joomla was used to build website.</p>
             
  				</div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Online Banking Portal</a></span> <span class="project-tagline"><p>Portal provides facility for online secure money transactions, creating accounts and checking balance.</p>
<p>Technologies used: MySQL, PHP, Python, JavaScript, HTML, CSS</p></span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Knock Lock</a></span> <span class="project-tagline"><p>Arduino and Piezo sensor based lock. Piezo sensor was used to detect the vibrations. Used Arduino programming for input processing.</p></span>
                </div><!--//item-->
             
            </section><!--//section-->
