<h2 class="section-title"><i class="fa fa-briefcase"></i>Publications</h2>
                
					<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Supervised Deep Learning Framework for
Proactive Anomaly Detection in Cloud</h3>
                        </div><!--//upper-row-->
                        <div class="company">Submitted at IEEE Indicon Conference, 2017</div>
                    </div><!--//meta-->
                    <div class="details">Co-Authors: Dr. A.D. Dileep, Dr. Aditya Nigam, Shaifu Gupta, Siddhant Kumar</div><!--//details-->
                    </div><!--//item-->
				    <br/>
					<br/>
					<br/>
