<h2 section class="skills-section section"></h2>
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
                <div class="skillset">        
                    <div class="item">
                        Programming Languages - C, C++, Python, Haskell, Prolog, Java, Javascript, PHP, HTML, MySQL, Assembly 
                    </div><!--//item-->
                    
                    <div class="item">
                        Softwares - Docker, Nagios, Nginx, JMeter, MATLAB, Android Studio, Visual Studio, IBM SPSS                               
                    </div><!--//item-->
                   
                    <div class="item">
                        Frameworks - Keras, Tensorflow, Scikit-learn, Seaborn, Joomla                              
                    </div><!--//item-->

                    <div class="item">
                        Platforms - Linux & Windows                              
                    </div><!--//item-->
                                  
                    <div class="item">
                        Others - Glib, Arduino programming, Machine Learning, Artifical Intelligence                                
                    </div><!--//item-->
                    
                </div>  
            </section><!--//skills-section-->