<h2 section class="skills-section section"></h2>
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
                <div class="skillset">        
                    <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Programming Languages</h3>
                            <div class="company">C, C++, Python, Haskell, Prolog, Java, Javascript, PHP, HTML, MySQL, Assembly </div>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                </div><!--//item-->
			

                 <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Softwares </h3>
                            <div class="company">Docker, Nagios, Nginx, JMeter, MATLAB, Android Studio, Visual Studio, IBM SPSS</div>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                </div><!--//item-->
				        
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Frameworks</h3>
                            <div class="company">Keras, Tensorflow, Scikit-learn, Seaborn, Joomla</div>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                </div><!--//item-->
		

				<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Platforms</h3>
                            <div class="company">Linux and Windows</div>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                </div><!--//item-->
		

				<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Others</h3>
                            <div class="company">Glib, Arduino programming, Machine Learning, Artifical Intelligence</div>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                </div><!--//item-->
			
                  
                </div>  
            </section><!--//skills-section-->




                